<app-auth-layout image="sign-up">
  <div h-100 fxLayout="column">
    <div
      fxFlex="grow"
      fxLayoutAlign="center center"
      class="form-container mt-1 mb-1"
    >
      <mat-card fxFlex="45" fxFlex.lt-sm="90" fxFlex.lt-md="60" fxFlex.md="85">
        <h1 class="m-0">Get started today</h1>
        <p class="m-0">Enter your details to create account.</p>

        <app-user-info-form (onSubmit)="signUp($event)"></app-user-info-form>

        <app-auth-providers></app-auth-providers>
      </mat-card>
    </div>

    <p w-100 class="pb-1 m-0" text-center>
      Already have an account?
      <a routerLink="/login" link>Login</a>
    </p>
  </div>
</app-auth-layout>
