<div class="p-1 user-password-container" fxLayoutAlign="center center">
  <mat-card fxFlex="30" fxFlex.lt-lg="50" fxFlex.lt-md="70" fxFlex.xs="100">
    <h2 class="m-0">
      {{ !hasPasswordProviderType ? "Set a new password" : "Change Password" }}
    </h2>
    <mat-card *ngIf="!hasPasswordProviderType">
      <span class="mat-caption user-password-container__info-text">
        <mat-icon class="user-password-container__info-text__icon"
          >info</mat-icon
        >
        Your account has been created using a third-party service, please set a
        password to be able login via email and password.
      </span>
    </mat-card>

    <div class="mt-2">
      <app-new-password-form
        (onSubmit)="changePassword($event)"
        [askOldPassword]="hasPasswordProviderType"
        [submitButtonText]="
          hasPasswordProviderType ? 'Change Password' : 'Set Password'
        "
      >
      </app-new-password-form>
    </div>
  </mat-card>
</div>
