$primary-color: #3f51b5;
$text-light: #eaeaea;
$light-grey: #6f7c8b;
$dark-grey: #b1b1b1;
$grey-bg: #d8d8d8;
$light-bg: #f5f5f5;
$error: #ff403e;
$error-dark: #9f1b19;
$success: #41d074;
$warning: #f8d03eff;
$warning-dark: #d5600d;
$border-color: #eaedf3;
