<form
  [formGroup]="form"
  #formDirective="ngForm"
  (ngSubmit)="onSubmit.emit(form.value)"
  autocomplete="off"
  fxLayout="column"
  fxLayoutGap="0.5rem"
  w-100
>
  <ng-template
    #errorsTemplate
    let-controlName="controlName"
    let-errorTypes="errorTypes"
  >
    <ng-container *ngFor="let type of errorTypes">
      <ng-container
        *ngIf="form.get(controlName).hasError(type)"
        [ngSwitch]="type"
      >
        <ng-container *ngSwitchCase="'minlength'">
          Password should contain at least 6 symbols
        </ng-container>
        <ng-container *ngSwitchCase="'required'">
          This field is required
        </ng-container>
        <ng-container *ngSwitchCase="'passwordsNotEqual'">
          Passwords do not match
        </ng-container>
        <ng-container *ngSwitchCase="'newPasswordIsEqualToOld'">
          New password must be different from the old one
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-template>

  <mat-form-field *ngIf="askOldPassword" w-100 appearance="fill">
    <mat-label>Current Password</mat-label>
    <input
      name="oldPassword"
      autocomplete="off"
      type="password"
      matInput
      formControlName="oldPassword"
      placeholder="Enter your current password"
    />
    <mat-icon matSuffix>vpn_key</mat-icon>
    <mat-error>
      <ng-container
        [ngTemplateOutlet]="errorsTemplate"
        [ngTemplateOutletContext]="{
          controlName: 'oldPassword',
          errorTypes: ['minlength', 'required']
        }"
      ></ng-container>
    </mat-error>
  </mat-form-field>

  <mat-form-field w-100 appearance="fill">
    <mat-label>New Password</mat-label>
    <input
      name="newPassword"
      autocomplete="off"
      type="password"
      matInput
      formControlName="newPassword"
      placeholder="Enter your new password"
    />
    <mat-icon matSuffix>vpn_key</mat-icon>
    <mat-error>
      <ng-container
        [ngTemplateOutlet]="errorsTemplate"
        [ngTemplateOutletContext]="{
          controlName: 'newPassword',
          errorTypes: ['minlength', 'required', 'newPasswordIsEqualToOld']
        }"
      ></ng-container>
    </mat-error>
  </mat-form-field>

  <mat-form-field w-100 appearance="fill">
    <mat-label>Confirm New Password</mat-label>
    <input
      name="newPasswordConfirmation"
      autocomplete="off"
      type="password"
      matInput
      formControlName="newPasswordConfirmation"
      placeholder="Confirm your new password"
    />
    <mat-icon matSuffix>vpn_key</mat-icon>
    <mat-error>
      <ng-container
        [ngTemplateOutlet]="errorsTemplate"
        [ngTemplateOutletContext]="{
          controlName: 'newPasswordConfirmation',
          errorTypes: ['minlength', 'required', 'passwordsNotEqual']
        }"
      ></ng-container>
    </mat-error>
  </mat-form-field>

  <button
    [disabled]="
      form.pristine || form.invalid || isLoading || !(isNetworkOnline$ | async)
    "
    mat-raised-button
    type="submit"
    color="primary"
  >
    <span class="mat-h3">{{ submitButtonText }}</span>
  </button>
</form>
