<mat-card>
  <button mat-raised-button (click)="logout()">logout</button>
  <button mat-raised-button (click)="updProfile()">UPD PROFILE</button>
  <button mat-raised-button (click)="linkEmail()">link email</button>
  <button mat-raised-button (click)="unlinkEmail()">unlink email</button>
  <button mat-raised-button (click)="linkFb()">link FB</button>
  <button mat-raised-button (click)="unlinkFb()">unlink FB</button>
  <button mat-raised-button (click)="linkGoogle()">link Google</button>
  <button mat-raised-button (click)="unlinkGoogle()">unlink Google</button>
  <button mat-raised-button (click)="linkGithub()">link Github</button>
  <button mat-raised-button (click)="unlinkGithub()">unlink Github</button>
</mat-card>

<router-outlet></router-outlet>
