<app-auth-layout image="password-recovery">
  <div h-100 fxLayout="column" fxLayoutAlign="center center">
    <div w-100 fxLayout="row" fxLayoutAlign="center center">
      <mat-card
        fxFlex="45"
        fxFlex.lt-sm="90"
        fxFlex.lt-md="60"
        fxFlex.md="85"
        class="password-recovery-container"
      >
        <h1 class="m-0">Password recovery</h1>

        <ng-container *ngIf="accessToken; else sendEmail">
          <ng-container *ngIf="passwordChanged; else showForm">
            <div
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="0.5rem"
              class="password-recovery-container__success-result mt-1 mb-1"
            >
              <mat-icon>check_circle</mat-icon>
              <span class="mat-body">
                Password has been successfully changed
              </span>
            </div>
          </ng-container>

          <ng-template #showForm>
            <div class="mt-2">
              <app-new-password-form
                [isLoading]="isLoading"
                (onSubmit)="resetPassword($event)"
              ></app-new-password-form>
            </div>
          </ng-template>
        </ng-container>

        <ng-template #sendEmail>
          <p *ngIf="!resetEmailSuccessfullySent">
            Enter the email you're using for your account.
          </p>

          <ng-container *ngIf="resetEmailSuccessfullySent; else showInput">
            <div
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="0.5rem"
              class="password-recovery-container__success-result mt-1 mb-1"
            >
              <mat-icon>check_circle</mat-icon>
              <span class="mat-body">
                Reset instructions has been sent to {{ emailControl.value }}
              </span>
            </div>

            <button
              class="password-recovery-container__resend-btn"
              mat-stroked-button
              color="primary"
              [matMenuTriggerFor]="resendOptions"
              [disabled]="isLoading"
            >
              I didn't receive the email
            </button>

            <mat-menu #resendOptions="matMenu">
              <button
                mat-menu-item
                (click)="sendResetPasswordEmail(true)"
                [disabled]="!!countDown"
              >
                <mat-icon>refresh</mat-icon>
                <span>
                  Send again
                  <span *ngIf="!!countDown"> ({{ countDown }})</span>
                </span>
              </button>
              <button mat-menu-item (click)="useAnotherEmail()">
                <mat-icon>email</mat-icon>
                <span>Use another email address</span>
              </button>
            </mat-menu>
          </ng-container>

          <ng-template #showInput>
            <mat-form-field w-100 appearance="fill" class="mt-1">
              <mat-label>Email address</mat-label>
              <input
                name="email"
                autocomplete="on"
                type="email"
                matInput
                [formControl]="emailControl"
                placeholder="Enter you email address"
              />
              <mat-icon class="mr-05" matSuffix>email</mat-icon>
              <mat-error *ngIf="emailControl.hasError('email')">
                Invalid email address
              </mat-error>
              <mat-error *ngIf="emailControl.hasError('required')">
                This field is required
              </mat-error>
            </mat-form-field>

            <button
              [disabled]="
                emailControl.pristine ||
                emailControl.invalid ||
                isLoading ||
                !(isNetworkOnline$ | async)
              "
              mat-raised-button
              type="button"
              color="primary"
              w-100
              class="mt-05"
              (click)="sendResetPasswordEmail()"
            >
              <span class="mat-h3"> Send Reset Instructions </span>
            </button>
          </ng-template>
        </ng-template>
      </mat-card>
    </div>
    <a class="mt-1" routerLink="/login" link>Back to Login</a>
  </div>
</app-auth-layout>
