@use "~@angular/material" as mat;
@import "src/app/shared/variables";

$my-custom-typography: mat.define-typography-config(
  $font-family: "Poppins, sans-serif",
);
@include mat.core($my-custom-typography);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Helvetica Neue", sans-serif;

  &:focus,
  &:active,
  &:visited {
    outline: none;
  }
}

html,
body {
  background-color: $grey-bg;
}

:root {
  // common styles

  [h-100] {
    height: 100%;
  }

  [w-100] {
    width: 100%;
  }

  [text-center] {
    text-align: center;
  }

  [overflow-y] {
    overflow-y: scroll;
  }

  [relative] {
    position: relative;
  }

  [absolute-mid] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  [pointer] {
    cursor: pointer;
    user-select: none;
  }

  [no-pointer] {
    pointer-events: none;
    user-select: none;
  }

  [no-wrap] {
    white-space: nowrap;
  }

  [link] {
    text-decoration: none;
    color: $primary-color;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  // boxing

  .p-0 {
    padding: 0;
  }

  .p-1 {
    padding: 1rem;
  }

  .p-2 {
    padding: 2rem;
  }

  .pl-05 {
    padding-left: 0.5rem;
  }

  .pr-05 {
    padding-right: 0.5rem;
  }

  .pl-1 {
    padding-left: 1rem;
  }

  .pr-1 {
    padding-right: 1rem;
  }

  .pb-1 {
    padding-bottom: 1rem;
  }

  .pb-2 {
    padding-bottom: 2rem;
  }

  .pt-1 {
    padding-top: 1rem;
  }

  .pt-2 {
    padding-top: 2rem;
  }

  .pl-2 {
    padding-left: 2rem;
  }

  .m-0 {
    margin: 0;
  }

  .m-auto {
    margin: 0 auto;
  }

  .mt-1 {
    margin-top: 1rem;
  }

  .mt-05 {
    margin-top: 0.5rem;
  }

  .mt-2 {
    margin-top: 2rem;
  }

  .mb-05 {
    margin-bottom: 0.5rem;
  }

  .mb-1 {
    margin-bottom: 1rem;
  }

  .mb-2 {
    margin-bottom: 2rem;
  }

  .ml-05 {
    margin-left: 0.5rem;
  }

  .ml-1 {
    margin-left: 1rem;
  }

  .ml-2 {
    margin-left: 1rem;
  }

  .mr-1 {
    margin-right: 1rem;
  }

  .mr-05 {
    margin-right: 0.5rem;
  }

  .br-10 {
    border-radius: 10px;
  }

  // Tooltips

  .mat-tooltip {
    font-size: 0.8rem;
    color: $text-light;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.64);
    margin: 5px !important;

    &.primary-tooltip {
      background-color: $primary-color;
    }

    &.warning-tooltip {
      color: $warning;
    }
  }

  // Shared elements

  form {
    font-size: 0.9rem;

    .mat-caption,
    .mat-form-field-suffix {
      .mat-icon {
        color: $light-grey;

        &.action {
          color: $primary-color;
        }
      }
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 9999s ease-in-out 0s, color 9999s ease-out;
  }

  [imgLoadingContainer] {
    position: relative;
    overflow: hidden;
    width: 100%;

    &.responsive {
      padding-bottom: 56.25%;
      height: 0;
    }

    &:not(.loaded) {
      background: linear-gradient(
        to right,
        #383838 0%,
        #74747481 30%,
        #a09d9d85 60%,
        #383838 100%
      );
      background-size: 400%;
      background-position: left;
      animation: load 1s ease-in-out 0s infinite alternate;

      @keyframes load {
        0% {
          background-position: right;
        }

        100% {
          background-position: left;
        }
      }

      img {
        visibility: hidden;
        opacity: 0;
      }
    }

    &.loaded {
      img {
        visibility: visible;
        opacity: 1;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      user-select: none;
      object-fit: cover;
      object-position: center;
      transition: opacity 0.5s ease-out;
    }
  }

  // Snackbars

  .mat-snack-bar-container {
    max-width: 90vw;

    span {
      width: 100%;
      text-align: center;
      font-weight: 500;
    }

    .mat-button {
      color: #cdcdce;
    }

    &.success-snackbar {
      color: $success;
    }

    &.error-snackbar {
      background: $error-dark;
      color: $text-light;
    }

    &.notification-snackbar {
      color: $warning;
    }
  }

  // Material

  .mat-progress-spinner {
    &.grey {
      circle {
        stroke: $grey-bg;
      }
    }
  }

  .mat-menu-panel {
    .mat-menu-content:not(:empty) {
      padding: 0;
    }
  }

  .la-ball-clip-rotate div {
    border-width: 1px !important;
  }

  .mat-drawer-container {
    background-color: transparent;
  }

  .mat-tab-group {
    background-color: $light-bg;
  }

  .mat-card {
    background-color: #fbfbfb;
  }
}
