@import "src/app/shared/variables";

.file-dropzone {
  height: 300px;
  border: 1px dashed $light-grey;

  &__icon,
  &__suggestion-text {
    color: $light-grey;
  }

  &__icon {
    font-size: 4rem;
    width: 4rem;
    height: 4rem;
    opacity: 0.4;
  }

  [link] {
    text-decoration: underline;
  }

  &__dragover-box {
    background-color: rgba(0, 0, 0, 0.8);

    &__icon {
      color: $grey-bg;
      font-size: 7rem;
      height: 7rem;
      width: 7rem;
      transform: rotate(-15deg);
    }
  }
}
