<mat-card>
  <button mat-raised-button (click)="linkProvider(AuthProviderType.FACEBOOK)">
    link FB
  </button>
  <!--  <button mat-raised-button (click)="unlinkProvider(AuthProviderType.FACEBOOK)">link FB</button>-->

  <button mat-raised-button (click)="linkProvider(AuthProviderType.GOOGLE)">
    link Google
  </button>
  <!--  <button mat-raised-button (click)="unlinkProvider(AuthProviderType.GOOGLE)">link Google</button>-->

  <button mat-raised-button (click)="linkProvider(AuthProviderType.GITHUB)">
    link GITHUB
  </button>
  <!--  <button mat-raised-button (click)="unlinkProvider(AuthProviderType.GITHUB)">link GITHUB</button>-->
</mat-card>
